/* FONTS */
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Roboto+Mono:100,300,400,500,700|Roboto:100,300,400,500,700&display=swap");
@font-face {
  font-family: MyFont;
  src: url("../font/myfont-ultra-light.otf");
}

/********************* 
            VARIABLES 
                    **********************/
:root {
  --green-color: #6ef3a5;
  --grey-color-1: #25262a;
  --grey-color-2: #2d2e32;
  --grey-color-3: #8c8c8c;
  --white-color: #fff;
}

/**********************
            RESET 
                    **********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}
html,
body {
  scroll-behavior: smooth;
  color: var(--grey-color-1);
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
img {
  display: block;
  max-width: 100%;
}
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  outline: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

/**********************
            SCROLL 
                    **********************/
::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  background: var(--white-color) !important;
}
::-webkit-scrollbar-thumb {
  background: var(--grey-color-1) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--green-color) !important;
}

/**********************
            PRELOADER 
                    **********************/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1999999999;
}
.preloader.immune {
  bottom: 0;
}
.preloader.white {
  background-color: rgba(255, 255, 255, 0.3);
}
.preloader.black {
  background-color: rgba(1, 1, 1, 0.5);
}
.preloader > i.radial-loader:not(:required) {
  -moz-animation: radial-loader 0.5s infinite linear;
  -webkit-animation: radial-loader 0.5s infinite linear;
  animation: radial-loader 0.5s infinite linear;
  border-color: var(--green-color);
  border-style: solid;
  border-width: 2px;
  border-right-color: transparent;
  border-radius: 100%;
  display: block;
  position: relative;
  float: right;
  margin: 10px 40px;
  overflow: hidden;
  width: 10px;
  height: 10px;
}
.preloader > span.loading-bar {
  -moz-animation: loading-bar 3s 1;
  -webkit-animation: loading-bar 3s 1;
  animation: loading-bar 3s 1;
  display: block;
  height: 2px;
  background-color: #ea6052;
  opacity: 0;
  transition: width 0.5s;
}
.preloader > span.loading-bar.red-colored {
  background-color: #ea6052;
}
.preloader > .red-colored.radial-loader {
  border-color: #ea6052 !important;
  border-right-color: transparent !important;
}
.preloader > span.loading-bar.blue-colored {
  background-color: #3498db;
}
.preloader > .blue-colored.radial-loader {
  border-color: #3498db !important;
  border-right-color: transparent !important;
}
.preloader > span.loading-bar.green-colored {
  background-color: var(--green-color);
}
.preloader > .green-colored.radial-loader {
  border-color: var(--green-color);
  border-right-color: transparent !important;
}
.preloader > span.loading-bar.yellow-colored {
  background-color: #f1c40f;
}
.preloader > .yellow-colored.radial-loader {
  border-color: #f1c40f !important;
  border-right-color: transparent !important;
}

/**********************
            GENERIC CLASSES 
                    **********************/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.content {
  width: 100%;
  height: auto;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.display-txt {
  width: 100%;
  max-width: 660px;
  position: relative;
}
.tags {
  color: var(--grey-color-3);
  position: fixed;
  bottom: 0;
  left: 10px;
  font-size: 18px;
  font-family: "La Belle Aurore", cursive;
  z-index: 800;
}
.top-tags {
  bottom: auto;
  top: 40px;
}
.bottom-tags {
  bottom: 20px;
}
.title {
  position: relative;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.title h1 {
  font-size: 14px;
  font-family: MyFont;
}
.title h1::before,
.title h1::after {
  text-transform: none;
  font-family: "La Belle Aurore", cursive;
  font-size: 18px;
  color: var(--grey-color-3);
  position: absolute;
}
.title h1::before {
  content: "<h1>";
  top: -25px;
}
.title h1::after {
  content: "</h1>";
  bottom: 0;
  left: 140px;
}
.title h1 > span {
  display: block;
  font-size: 70px;
  line-height: 70px;
  margin-left: -5px;
  letter-spacing: -0.1em;
}
.markup {
  background: var(--green-color);
  color: var(--grey-color-1);
  display: table;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 20px;
}
.text-green {
  color: var(--green-color);
}
.box-shadow {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
.text-shadow {
  -webkit-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  -moz-text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.display-flex {
  display: flex;
}
.social-links {
  margin-bottom: 20px;
  align-items: center;
  justify-content: flex-start;
}
.social-links li:nth-child(1),
.social-links li:nth-child(2) {
  margin-right: 40px;
}
.cl-effect-5 a {
  overflow: hidden;
  padding: 0 4px;
  height: 1em;
}
.cl-effect-5 a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cl-effect-5 a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  color: var(--green-color);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

/**********************
            BUTTONS 
                    **********************/
.btn {
  letter-spacing: 0.1em;
  margin: 20px 0;
  display: table;
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.btn-small {
  height: 25px;
  line-height: 25px;
  padding: 0 5px;
  border-radius: 3px;
  font-size: 12px;
}
.btn-medium {
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 3px;
  font-size: 14px;
}
.btn-large {
  height: 40px;
  line-height: 40px;
  padding: 0 35px;
  border-radius: 3px;
  font-size: 16px;
}
.btn-extra-large {
  width: 100%;
  height: 40px;
  padding: 0 35px;
  font-size: 16px;
}
.btn-transparet {
  border: 1px solid var(--green-color);
  background: none;
  color: var(--grey-color-1);
}
.btn-transparet:hover {
  background: var(--grey-color-1);
  color: var(--white-color);
  border: none;
}
.btn-dark {
  color: var(--white-color);
  background: var(--grey-color-1);
}
.btn-dark:hover {
  background: var(--grey-color-2);
  color: var(--green-color);
}
.btn-green {
  color: var(--white-color);
  background: var(--green-color);
}
.btn-green:hover {
  background: var(--grey-color-2);
  color: var(--green-color);
}

/**********************
            MENU 
                    **********************/
header {
  position: relative;
}
header.container {
  display: flex;
  flex-flow: row-reverse wrap;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.btn-nav-container {
  position: fixed;
  top: 0;
  right: 30px;
  width: 50px;
  height: 20px;
  margin-top: 3.5em;
  cursor: pointer;
  z-index: 999;
  background: transparent;
  border: none;
  outline: none;
}
.btn-nav {
  width: 100%;
  height: 3px;
  position: relative;
  background: var(--grey-color-1);
  top: 0;
  transition: all ease 0.2s;
}
.btn-nav:before,
.btn-nav:after {
  content: "";
  position: absolute;
  left: 0;
  background: var(--grey-color-1);
  height: 100%;
  transition: all ease 0.3s;
}
.btn-nav:before {
  top: -8px;
  width: 50%;
}
.btn-nav:after {
  top: 8px;
  width: 75%;
}
.btn-nav-container:hover .btn-nav:before,
.btn-nav-container:hover .btn-nav:after {
  width: 100%;
}
.btn-nav-container.close-menu .btn-nav {
  transform: rotate(-45deg);
}
.btn-nav-container.close-menu .btn-nav:after {
  opacity: 0;
  transition: all ease 0.2s;
}
.btn-nav-container.close-menu .btn-nav:before {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
  transition: all ease 0.2s;
  background: var(--grey-color-1);
}
.float-nav {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.float-nav .bg1,
.float-nav .bg2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(110, 243, 165, 0.6);
  top: 0;
  left: 100%;
  transition: all 0.7s ease 0.3s;
}
.float-nav .bg2 {
  background: rgba(255, 255, 255, 1);
  transition-delay: 0s;
}
.float-nav .container {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: none;
}
.float-nav .logo-menu {
  z-index: 10;
  max-width: 820px;
  margin: 20px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.float-nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  opacity: 0;
  transition: all 0.3s ease 0s;
  padding: 0;
  margin: 40px;
}
.float-nav ul::before,
.float-nav ul::after {
  text-transform: lowercase;
  position: absolute;
  font-size: 18px;
  color: var(--grey-color-3);
  font-family: "La Belle Aurore";
}
.float-nav ul::before {
  content: "<nav>";
  top: -10%;
}
.float-nav ul::after {
  content: "</nav>";
  bottom: 0;
  right: -10%;
}
.float-nav ul li {
  flex: 1;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.2s ease 0.3s;
}
.float-nav ul li span {
  transform: rotate(-90deg);
  margin-right: 40px;
  padding: 5px;
  color: var(--green-color);
}
.float-nav ul li a {
  font-size: 16px;
  position: relative;
  color: var(--grey-color-1);
  letter-spacing: 0.4em;
  transition: all 0.2s ease 0.2s;
}
.float-nav ul li a:hover {
  color: var(--green-color);
}
.float-nav.active .bg1,
.float-nav.active .bg2 {
  left: 0;
}
.float-nav.active .bg1 {
  transition-delay: 0s;
}
.float-nav.active .bg2 {
  transition-delay: 0.3s;
}
.float-nav.active .logo-menu,
.float-nav.active ul {
  opacity: 1;
  transition-delay: 1s;
}

/**********************
            HOME 
                    **********************/
.home {
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .container nav a {
  height: 20px;
  position: relative;
  display: inline-block;
  outline: none;
  text-transform: initial;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.home .container nav a:hover,
.home .container nav a:focus {
  outline: none;
}
.display-txt h1 {
  width: 100%;
  position: relative;
  font-size: 58px;
  text-transform: uppercase;
}
.display-txt h1::before,
.display-txt h1::after {
  text-transform: lowercase;
  position: absolute;
  font-size: 18px;
  color: var(--grey-color-3);
  font-family: "La Belle Aurore";
}
.display-txt h1::before {
  content: "<h1>";
  top: -20%;
}
.display-txt h1::after {
  content: "</h1>";
  bottom: -20%;
  right: 0%;
}
.display-txt h4 {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--grey-color-3);
  margin-top: 5px;
}
.display-txt p {
  font-size: 12px;
  font-weight: 400;
  color: var(--green-color);
  padding: 10px 0;
}
.wrap-photo {
  z-index: 90;
  padding: 10px;
  position: relative;
  flex: 1;
}
.wrap-photo .white-img {
  width: 220px;
}
.wrap-photo .js-icon,
.wrap-photo .react-icon {
  position: absolute;
  width: 80px;
}
.wrap-photo .react-icon {
  right: 5%;
  top: 35%;
  width: 40px;
}
.wrap-photo .js-icon {
  bottom: -2%;
  width: 70px;
}
.wrap-photo .wrap-elipse {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wrap-photo .wrap-elipse .elipse {
  position: absolute;
}
.wrap-photo .wrap-elipse .item-one {
  right: 25%;
  top: 30%;
}
.wrap-photo .wrap-elipse .item-two {
  right: 15%;
  bottom: 15%;
}
.wrap-photo .wrap-elipse .item-three {
  bottom: 40%;
}
.scroll {
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

/**********************
            ABOUT 
                    **********************/
.about {
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .container nav a {
  height: 20px;
  position: relative;
  display: inline-block;
  outline: none;
  text-transform: initial;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.about .container nav a:hover,
.about .container nav a:focus {
  outline: none;
}
.wrap-photo .dark-img {
  width: 220px;
}
.display-txt .wrap h4 {
  margin-top: 30px;
  font-size: 58px;
  color: var(--grey-color-1);
  text-transform: uppercase;
  font-family: "Roboto";
}
.display-txt .wrap p {
  color: var(--grey-color-1);
  font-size: 12px;
  line-height: 16px;
}

/**********************
            CASES 
                    **********************/
.cases {
  margin-top: 20px;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cases .slide-cases-mb {
  width: 100%;
  height: 493px;
  overflow: hidden;
}
.slide-cases-mb .swiper-wrapper .swiper-slide {
  background-color: #8c8c8c;
}
.slide-cases-mb .swiper-slide {
  opacity: 0.3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slide-cases-mb .swiper-slide.swiper-slide-active {
  opacity: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.area-slide {
  display: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-count {
  display: none;
}
.ctrl-slide .btns {
  display: none;
}

/**********************
            CONTACT 
                    **********************/
.contact {
  padding: 20px;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**********************
            LINES DIVIDER 
                    **********************/
.lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 0;
  pointer-events: none;
  z-index: 1111;
}
.lines.ready {
  z-index: 1;
}
.lines .line-col {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 100vh;
}
.lines.finish .line-col:before {
  height: 100%;
}
.lines .line-col:nth-child(1):before {
  -o-transition-delay: 2.9s;
  -webkit-transition-delay: 2.9s;
  transition-delay: 2.9s;
}
.lines .line-col:first-child:before {
  background: 0 0;
}
.lines .line-col:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 0%;
  background: rgba(37, 38, 42, 0.05);
  transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -moz-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -webkit-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -o-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}
.lines.finish .line-col:after {
  height: 0%;
}
.lines .line-col:nth-child(1):after {
  top: 0;
  bottom: auto;
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
.lines .line-col:first-child:after {
  left: auto;
  right: 0;
  width: 1000%;
}
.lines .line-col:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  z-index: 12;
  transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -moz-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -webkit-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  -o-transition: height 1s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}

/**********************
            ANIMATIONS 
                    **********************/

@-moz-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes loading-bar {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

@-moz-keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes radial-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes radial-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**********************
            MEDIA QUERIES 
                    **********************/
@media only screen and (min-width: 992px) {
  .social-links {
    margin-bottom: 0;
    margin-top: 20px;
  }
  /**********************
            HOME 
                    **********************/
  .content {
    flex-flow: row;
  }
  .display-txt h1 {
    max-width: 460px;
    font-size: 72px;
  }
  .display-txt h4 {
    font-size: 18px;
  }
  .display-txt p {
    font-size: 14px;
  }
  .wrap-photo .white-img {
    width: 430px;
  }
  /**********************
            ABOUT 
                    **********************/

  .wrap-photo .dark-img {
    width: 220px;
  }
  .display-txt .wrap h4 {
    max-width: 460px;
    font-size: 72px;
    margin-top: 0;
  }
  .display-txt .wrap p {
    font-size: 14px;
  }
  .wrap-photo .dark-img {
    width: 430px;
  }

  /**********************
            CASES 
                    **********************/
}

@media only screen and (min-width: 1200px) {
  /**********************
            CASES 
                    **********************/
  .cases .slide-cases-mb {
    display: none;
  }
  .area-slide {
    display: block;
    position: relative;
    width: 100%;
    height: 493px;
    margin-top: 76px;
    margin-bottom: 93px;
    overflow: hidden;
  }
  .area-slide .slide-capa-cases {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 1460px;
    height: 100%;
    pointer-events: none;
  }
  .slide-capa-cases .swiper-slide {
    background-color: #6ef3a5;
  }
  .area-slide .slide-about-cases {
    width: 330px;
    height: 400px;
  }
  .slide-about-cases .swiper-slide {
    background-color: #ea6052;
  }
  .ctrl-slide {
    width: 1248px;
    height: 60px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .area-slide .slide-capa-cases .swiper-slide {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .area-slide .slide-capa-cases .swiper-slide.swiper-slide-thumb-active,
  .area-slide .slide-capa-cases .swiper-slide.swiper-slide-active,
  .area-slide .slide-capa-cases .swiper-slide.swiper-slide-prev {
    opacity: 1;
  }
  .area-slide .slide-capa-cases .swiper-slide.swiper-slide-next {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .area-slide .slide-about-case {
    width: 330px;
    margin-right: 50px;
    height: 400px;
  }
  .area-slide .slide-about-case .swiper-slide {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .area-slide .slide-about-case .swiper-slide.swiper-slide-active {
    opacity: 1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .swiper-count-mb {
    display: none;
  }
  .swiper-count {
    display: block;
  }
  .ctrl-slide .btns {
    display: block;
  }
}
